@font-face{
    font-family: Gotham-Rounded;
    src: url(../fonts/Gotham-Rounded/GothamRoundedBold_21016.ttf);
}

body{
    font-family: sans-serif;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    font-family: Gotham-Rounded;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    padding: 0 ;
}
.navbar-brand img{
    height: 40px;
    padding-left: 10px;
}
.navbar-nav li {
    padding: 0 25px;
}
.navbar-nav li a {
    color: #737373 ;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: black;
    font-size: 40px ;
}

#banner{
    color: white;
    padding-top: 10%;
}
.title{
    font-size: 45px;
    font-weight: 500;
}

.btn-primary {
    background: purple;
}

form {
    border: 3px solid black;
    border-radius: 6px;
    background: grey;
    height: 400px;
}

.A {
    font-size: 20px;
    text-align: center;
}


